In [166]:
import pandas as pd
import numpy as np

In [167]:
file = "purchase_data.csv"

# Read purchasing file and store into pandas data frame
pymoli = pd.read_csv(file)
pymoli.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,$1.56
2,2,Ithergue48,24,Male,92,Final Critic,$4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,$3.27
4,4,Iskosia90,23,Male,131,Fury,$1.44

In [168]:
# find total number of players
total_players = len(pymoli['SN'].unique())
total_players

576

In [169]:
# find number of unique items 
unique_items = len(pymoli['Item ID'].unique())
unique_items

183

In [170]:
# find total revenue
total_revenue = pymoli['Price'].sum()
total_revenue

# find number of purchases
total_purchases = pymoli['Item ID'].count()
total_purchases

# find average price
average_price = total_revenue / total_purchases
average_price

3.0509871794871795

In [171]:
# combine above data into dataframe
pd.options.display.float_format = '${:,.2f}'.format
purchase_summary = pd.DataFrame({'Number of Unique Items': [unique_items], 'Average Price':[average_price],\
                                 'Number of Purchases': [total_purchases], 'Total Revenue':[total_revenue]})
purchase_summary.head()

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183          $3.05                  780      $2,379.77

In [172]:
# count of male/female/other players: non-unique (match original hw answers)

# replace 'Other / Non-Disclosed' with 'Other' for cleaner splitting

pymoli['Gender'] = pymoli['Gender'].replace(
    {'Other / Non-Disclosed': 'Other'})

player_counts_nonunique = pymoli['Gender'].value_counts()
print(player_counts_nonunique)

male_counts_nonunique = player_counts_nonunique['Male']
female_counts_nonunique = player_counts_nonunique['Female']
other_counts_nonunique = player_counts_nonunique['Other']
print(male_counts_nonunique)
print(female_counts_nonunique)
print(other_counts_nonunique)

# player_df = player_counts.rename_axis('gender').reset_index(name = 'counts')
# player_df

Male      652
Female    113
Other      15
Name: Gender, dtype: int64
652
113
15

In [173]:
# count of male/female/other players: unique
# concatenate SN and Gender to find unique players

pymoli['name gender']  = pymoli['SN'] + ' ' + pymoli['Gender']
# pymoli_players = list(pymoli['name gender'].unique())

pymoli_players = pymoli['name gender'].unique()
pymoli_players_df = pd.DataFrame({'Players': pymoli_players})
pymoli_players_df

pymoli_players_split = pymoli_players_df['Players'].str.split(' ',1).str[1]
pymoli_players_split
male_counts = list(pymoli_players_split).count('Male')
female_counts = list(pymoli_players_split).count('Female')
other_counts = list(pymoli_players_split).count('Other')
print(male_counts)
print(female_counts)
print(other_counts)

484
81
11

In [174]:
# count of male/female/other players: unique

pymoli_unique = pymoli.groupby('Gender')['SN'].unique()
print(pymoli_unique)
print(len(pymoli_unique['Female']))
print(len(pymoli_unique['Male']))
print(len(pymoli_unique['Other']))

Gender
Female    [Lisassa64, Reunasu60, Reulae52, Assosia88, Ph...
Male      [Lisim78, Lisovynya38, Ithergue48, Chamassasya...
Other     [Chanosian48, Siarithria38, Haerithp41, Sundim...
Name: SN, dtype: object
81
484
11

In [175]:
# add 'age' dimension: unique

# pymoli['Age']

pymoli['name gender age']  = pymoli['SN'] + ' ' + pymoli['Gender'] + ' ' + pymoli['Age'].map(str)
                           
pymoli.head()


pymoli_players2 = pymoli['name gender age'].unique()
pymoli_players2_df = pd.DataFrame({'Players': pymoli_players2})
pymoli_players2_df.head()

player_age = pymoli_players2_df['Players'].str.split(' ',2).str[2].astype(int)
player_age = pd.DataFrame({'Player Age': player_age})
player_age.head()

   Player Age
0          20
1          40
2          24
3          24
4          23

In [176]:
# calculate percent of players by gender: nonunique, match original hw answers

total_players_nonunique = len(pymoli['Gender'])
print(total_players_nonunique)

male_pct = male_counts_nonunique / total_players_nonunique
female_pct = female_counts_nonunique / total_players_nonunique
other_pct = other_counts_nonunique / total_players_nonunique
print(male_pct)
print(female_pct)
print(other_pct)

780
0.8358974358974359
0.14487179487179488
0.019230769230769232

In [177]:
# calculate percent of players by gender: unique

male_pct = male_counts / total_players
female_pct = female_counts / total_players
other_pct = other_counts / total_players
print(male_pct)
print(female_pct)
print(other_pct)

0.8402777777777778
0.140625
0.019097222222222224

In [178]:
# format percentages
pd.options.display.float_format = '{:,.1%}'.format

# formatter = {'male_pct': '{:,.1%}','female_pct': '{:,.1%}','other_pct': '{:,.1%}'}

gender = pd.DataFrame({'Gender': ['Male', 'Female', 'Other / Non-Disclosed'],'Percentage of Players': [male_pct, female_pct, other_pct],\
                      'Total Count': [male_counts, female_counts, other_counts]})

gender

                  Gender  Percentage of Players  Total Count
0                   Male                  84.0%          484
1                 Female                  14.1%           81
2  Other / Non-Disclosed                   1.9%           11

In [179]:
# calculate by gender: 
    # purchase count, avg purchase price, total purchase 
    # avg purchase total per person

male_purchases = pymoli.loc[pymoli['Gender'] == "Male"]
male_purchases.head()
male_purchases_total = male_purchases['Price'].sum()
print(male_purchases_total)
male_purchase_price_avg = male_purchases_total / male_counts_nonunique
print(male_purchase_price_avg)
male_purchases_per_person = male_purchases_total / male_counts
print(male_purchases_per_person)

female_purchases = pymoli.loc[pymoli['Gender'] == "Female"]
female_purchases.head()
female_purchases_total = female_purchases['Price'].sum()
print(female_purchases_total)
female_purchase_price_avg = female_purchases_total / female_counts_nonunique
print(female_purchase_price_avg)
female_purchases_per_person = female_purchases_total / female_counts
print(female_purchases_per_person)

other_purchases = pymoli.loc[pymoli['Gender'] == "Other / Non-Disclosed"]
other_purchases.head()
other_purchases_total = other_purchases['Price'].sum()
print(other_purchases_total)
other_purchase_price_avg = other_purchases_total / other_counts_nonunique
print(other_purchase_price_avg)
other_purchases_per_person = other_purchases_total / other_counts
print(other_purchases_per_person)

1967.64
3.0178527607361967
4.065371900826446
361.94
3.203008849557522
4.468395061728395
0.0
0.0
0.0

In [180]:
# format the dataframe
pd.options.display.float_format = '${:,.2f}'.format

purchases = pd.DataFrame({'Gender': ['Female', 'Male', 'Other / Non-Disclosed'], \
                          'Purchase Count': [female_counts_nonunique, male_counts_nonunique, other_counts_nonunique],  \
                          'Average Purchase Price': [female_purchase_price_avg, male_purchase_price_avg, other_purchase_price_avg],\
                         'Total Purchase Value': [female_purchases_total, male_purchases_total, other_purchases_total], \
                         'Average Purchase Total per Person':[female_purchases_per_person, male_purchases_per_person, other_purchases_per_person]})

purchases

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person
0,Female,113,$3.20,$361.94,$4.47
1,Male,652,$3.02,"$1,967.64",$4.07
2,Other / Non-Disclosed,15,$0.00,$0.00,$0.00

In [181]:
# establish bins for ages - exploring different ways as I hate hard coding anything
print(pymoli['Age'].max())
print(pymoli['Age'].min())

age_bins = [0]
for i in range(10, 45,5):
    age_bins.append(i-0.1)
age_bins.append(99999)
print(age_bins)

# set group names
group_names = ['<10']
a = 0
b = 4
for i in range(10, 40, 5):
    x = a + i
    y = b + i
    z = str(x) + '-' + str(y)
    group_names.append(z)
group_names.append('40+')
print(group_names)

45
7
[0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 99999]
['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [182]:
# put ages in bins: nonunique

age_data_nonunique = pd.cut(pymoli['Age'], age_bins, labels = group_names)

age_counts_nonunique = age_data_nonunique.value_counts()
age_counts_nonunique

20-24    365
15-19    136
25-29    101
30-34     73
35-39     41
10-14     28
<10       23
40+       13
Name: Age, dtype: int64

In [183]:
pymoli['age groups'] = pd.cut(pymoli['Age'], age_bins, labels = group_names)
pymoli

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,name gender,name gender age,age groups
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53,Lisim78 Male,Lisim78 Male 20,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,$1.56,Lisovynya38 Male,Lisovynya38 Male 40,40+
2,2,Ithergue48,24,Male,92,Final Critic,$4.88,Ithergue48 Male,Ithergue48 Male 24,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,$3.27,Chamassasya86 Male,Chamassasya86 Male 24,20-24
4,4,Iskosia90,23,Male,131,Fury,$1.44,Iskosia90 Male,Iskosia90 Male 23,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,$3.61,Yalae81 Male,Yalae81 Male 22,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",$2.18,Itheria73 Male,Itheria73 Male 36,35-39
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,$2.67,Iskjaskst81 Male,Iskjaskst81 Male 20,20-24
8,8,Undjask33,22,Male,21,Souleater,$1.10,Undjask33 Male,Undjask33 Male 22,20-24
9,9,Chanosian48,35,Other,136,Ghastly Adamantite Protector,$3.58,Chanosian48 Other,Chanosian48 Other 35,35-39
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,$4.74,Inguron55 Male,Inguron55 Male 23,20-24
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,$2.67,Haisrisuir60 Male,Haisrisuir60 Male 23,20-24
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,$4.18,Saelaephos52 Male,Saelaephos52 Male 21,20-24
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,$1.70,Assjaskan73 Male,Assjaskan73 Male 22,20-24
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,$4.86,Saesrideu94 Male,Saesrideu94 Male 35,35-39
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",$2.89,Lisassa64 Female,Lisassa64 Female 21,20-24
16,16,Lisirra25,20,Male,40,Second Chance,$2.52,Lisirra25 Male,Lisirra25 Male 20,20-24
17,17,Zontibe81,21,Male,161,Devine,$1.76,Zontibe81 Male,Zontibe81 Male 21,20-24
18,18,Reunasu60,22,Female,82,Nirvana,$4.90,Reunasu60 Female,Reunasu60 Female 22,20-24
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",$4.64,Chamalo71 Male,Chamalo71 Male 30,30-34
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",$4.60,Iathenudil29 Male,Iathenudil29 Male 20,20-24
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",$1.48,Phiarithdeu40 Male,Phiarithdeu40 Male 20,20-24
22,22,Siarithria38,38,Other,24,Warped Fetish,$3.81,Siarithria38 Other,Siarithria38 Other 38,35-39
23,23,Eyrian71,40,Male,151,Severance,$3.40,Eyrian71 Male,Eyrian71 Male 40,40+
24,24,Siala43,30,Male,141,Persuasion,$3.19,Siala43 Male,Siala43 Male 30,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",$4.23,Lisirra87 Male,Lisirra87 Male 29,25-29
26,26,Lirtossa84,11,Male,71,Demise,$1.61,Lirtossa84 Male,Lirtossa84 Male 11,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,$3.09,Eusri44 Male,Eusri44 Male 7,<10
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",$4.32,Aela59 Male,Aela59 Male 21,20-24
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",$3.16,Tyida79 Male,Tyida79 Male 24,20-24
...,...,...,...,...,...,...,...,...,...,...
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",$3.61,Iljask75 Male,Iljask75 Male 22,20-24
751,751,Lisjaskan36,11,Male,180,Stormcaller,$3.36,Lisjaskan36 Male,Lisjaskan36 Male 11,10-14
752,752,Mindjasksya61,17,Male,112,Worldbreaker,$2.60,Mindjasksya61 Male,Mindjasksya61 Male 17,15-19
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",$4.23,Frichirranya75 Male,Frichirranya75 Male 36,35-39
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",$4.05,Pheosurllorin41 Female,Pheosurllorin41 Female 23,20-24
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,$3.15,Raesty92 Male,Raesty92 Male 12,10-14
756,756,Ilast79,20,Male,73,Ritual Mace,$2.05,Ilast79 Male,Ilast79 Male 20,20-24
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",$4.60,Eratiel90 Male,Eratiel90 Male 18,15-19
758,758,Iral74,21,Male,182,Toothpick,$4.03,Iral74 Male,Iral74 Male 21,20-24
759,759,Tyaelorap29,25,Male,72,Winter's Bite,$3.77,Tyaelorap29 Male,Tyaelorap29 Male 25,25-29
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,$2.38,Aithelis62 Male,Aithelis62 Male 21,20-24
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",$1.70,Assim27 Male,Assim27 Male 45,40+
762,762,Asur53,26,Male,110,Suspension,$1.44,Asur53 Male,Asur53 Male 26,25-29
763,763,Lassilsala30,21,Male,85,Malificent Bag,$1.75,Lassilsala30 Male,Lassilsala30 Male 21,20-24
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,$4.07,Saedaiphos46 Male,Saedaiphos46 Male 18,15-19
765,765,Irith83,18,Male,130,Alpha,$2.07,Irith83 Male,Irith83 Male 18,15-19
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",$4.14,Aelastirin39 Male,Aelastirin39 Male 23,20-24
767,767,Ilmol66,8,Female,92,Final Critic,$4.88,Ilmol66 Female,Ilmol66 Female 8,<10
768,768,Assassasta79,38,Male,92,Final Critic,$4.88,Assassasta79 Male,Assassasta79 Male 38,35-39
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,$4.58,Ilosian36 Male,Ilosian36 Male 15,15-19
770,770,Lirtosia63,34,Male,12,Dawne,$1.02,Lirtosia63 Male,Lirtosia63 Male 34,30-34
771,771,Iskossasda43,16,Male,25,Hero Cane,$4.35,Iskossasda43 Male,Iskossasda43 Male 16,15-19
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,$3.58,Asur53 Male,Asur53 Male 26,25-29
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",$1.02,Hala31 Male,Hala31 Male 21,20-24
774,774,Jiskjask80,11,Male,101,Final Critic,$4.19,Jiskjask80 Male,Jiskjask80 Male 11,10-14
775,775,Aethedru70,21,Female,60,Wolf,$3.54,Aethedru70 Female,Aethedru70 Female 21,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,$1.63,Iral74 Male,Iral74 Male 21,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",$3.46,Yathecal72 Male,Yathecal72 Male 20,20-24
778,778,Sisur91,7,Male,101,Final Critic,$4.19,Sisur91 Male,Sisur91 Male 7,<10
779,779,Ennrian78,24,Male,50,Dawn,$4.60,Ennrian78 Male,Ennrian78 Male 24,20-24

In [184]:
# put ages in bins: unique

age_data = pd.cut(player_age['Player Age'], age_bins, labels = group_names)
age_data
age_counts = age_data.value_counts()
age_counts

20-24    258
15-19    107
25-29     77
30-34     52
35-39     31
10-14     22
<10       17
40+       12
Name: Player Age, dtype: int64

In [185]:
# calculate age percentages
pd.options.display.float_format = '{:,.2%}'.format
age_pct = age_counts / total_players
age_pct

20-24   44.79%
15-19   18.58%
25-29   13.37%
30-34    9.03%
35-39    5.38%
10-14    3.82%
<10      2.95%
40+      2.08%
Name: Player Age, dtype: float64

In [186]:
# build a new age dataframe 
age_analysis = pd.DataFrame({'Percentage of Players': age_pct, \
                            'Total Count': age_counts})
age_analysis

       Percentage of Players  Total Count
20-24                 44.79%          258
15-19                 18.58%          107
25-29                 13.37%           77
30-34                  9.03%           52
35-39                  5.38%           31
10-14                  3.82%           22
<10                    2.95%           17
40+                    2.08%           12

In [187]:
age_purchase_count = pymoli.groupby('age groups')['Price'].count()
age_purchase_count

age groups
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Price, dtype: int64

In [188]:
pd.options.display.float_format = '${:,.2f}'.format

age_total_purchase = pymoli.groupby('age groups')['Price'].sum()
age_total_purchase

age groups
<10        $77.13
10-14      $82.78
15-19     $412.89
20-24   $1,114.06
25-29     $293.00
30-34     $214.00
35-39     $147.67
40+        $38.24
Name: Price, dtype: float64

In [189]:
age_avg_purchase_price = age_total_purchase / age_purchase_count
age_avg_purchase_price

age groups
<10     $3.35
10-14   $2.96
15-19   $3.04
20-24   $3.05
25-29   $2.90
30-34   $2.93
35-39   $3.60
40+     $2.94
Name: Price, dtype: float64

In [190]:
age_avg_purchase_per_person = age_total_purchase / age_counts
age_avg_purchase_per_person

10-14   $3.76
15-19   $3.86
20-24   $4.32
25-29   $3.81
30-34   $4.12
35-39   $4.76
40+     $3.19
<10     $4.54
dtype: float64

In [191]:
# build a new age dataframe 
purchase_analysis = pd.DataFrame({
                            'Purchase Count': age_purchase_count, \
                                 'Average Purchase Price': age_avg_purchase_price,\
                                 'Total Purchase Value':age_total_purchase, \
                                 'Avg Total Purchase per Person': age_avg_purchase_per_person})
purchase_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

In [192]:
player_spend = pymoli.groupby('SN')['Price'].sum()
player_spend_sorted = player_spend.sort_values(ascending = False)
player_spend_sorted.head()

SN
Lisosia93     $18.96
Idastidru52   $15.45
Chamjask73    $13.83
Iral74        $13.62
Iskadarya95   $13.10
Name: Price, dtype: float64

In [193]:
player_spend_count = pymoli.groupby('SN')['Price'].count()
player_spend_count_sorted = player_spend_count.sort_values(ascending = False)
player_spend_count_sorted.head()

SN
Lisosia93      5
Iral74         4
Idastidru52    4
Aina42         3
Iri67          3
Name: Price, dtype: int64

In [194]:
player_spend_avg = (player_spend_sorted / player_spend_count)

player_spend_avg.head()

SN
Adairialis76   $2.28
Adastirin33    $4.48
Aeda94         $4.91
Aela59         $4.32
Aelaria33      $1.79
Name: Price, dtype: float64

In [195]:
top_spenders = pd.DataFrame({'Purchase Count': player_spend_count, \
                            'Average Purchase Price': player_spend_avg, \
                            'Total Purchase Value': player_spend})
top_spenders = top_spenders.sort_values(['Total Purchase Value'], ascending = False)
top_spenders.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                   $3.79                $18.96
Idastidru52               4                   $3.86                $15.45
Chamjask73                3                   $4.61                $13.83
Iral74                    4                   $3.40                $13.62
Iskadarya95               3                   $4.37                $13.10

In [241]:
item_ranking = pymoli.groupby('Item Name')['Price'].count()
item_ranking_sorted = item_ranking.sort_values(ascending = False)
item_ranking_sorted = item_ranking_sorted.astype('int')
item_ranking_sorted.head()
# len(item_ranking)

Item Name
Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Nirvana                                          9
Persuasion                                       9
Fiery Glass Crusader                             9
Name: Price, dtype: int32

In [239]:
item_rev = pymoli.groupby('Item Name')['Price'].sum()
item_rev_sorted = item_rev.sort_values(ascending = False)
item_rev_sorted.head()
# len(item_rev)

Item Name
Final Critic                                   $59.99
Oathbreaker, Last Hope of the Breaking Storm   $50.76
Nirvana                                        $44.10
Fiery Glass Crusader                           $41.22
Singed Scalpel                                 $34.80
Name: Price, dtype: float64

In [288]:
# find Item IDs
id = pymoli.groupby('Item Name')['Item ID'].max()
id.head()

Item Name
Abyssal Shard                     162
Aetherius, Boon of the Blessed    137
Agatha                            120
Alpha                             130
Alpha, Oath of Zeal                79
Name: Item ID, dtype: int64

In [289]:
# find Item price
price = pymoli.groupby('Item Name')['Price'].max()
price.head()

Item Name
Abyssal Shard                    $2.67
Aetherius, Boon of the Blessed   $3.39
Agatha                           $3.08
Alpha                            $2.07
Alpha, Oath of Zeal              $4.05
Name: Price, dtype: float64

In [291]:

most_popular_items = pd.DataFrame({ 'Item ID': id, \
                                   'Purchase Count': item_ranking, \
                                  'price': price, \
                                 'Total Purchase Value': item_rev})
most_popular_items = most_popular_items.sort_values(['Purchase Count'], ascending = False)
most_popular_items = most_popular_items.set_index('Item ID')
most_popular_items.head()

         Purchase Count  price  Total Purchase Value
Item ID
101                  13  $4.88                $59.99
178                  12  $4.23                $50.76
141                   9  $3.33                $28.99
82                    9  $4.90                $44.10
108                   9  $3.53                $31.77

In [294]:
most_profitable_items = pd.DataFrame({'Price': price, \
                                   'Purchase Count': item_ranking, \
                                  'Item ID': id, \
                                 'Total Purchase Value': item_rev})
most_profitable_items = most_profitable_items.sort_values(['Total Purchase Value'], ascending = False)
most_profitbable_items = most_profitable_items.set_index('Item ID')
most_profitable_items.head()

,Price,Purchase Count,Item ID,Total Purchase Value
Item Name,,,,
Final Critic,$4.88,13,101,$59.99
"Oathbreaker, Last Hope of the Breaking Storm",$4.23,12,178,$50.76
Nirvana,$4.90,9,82,$44.10
Fiery Glass Crusader,$4.58,9,145,$41.22
Singed Scalpel,$4.35,8,103,$34.80