In [3]:
import pandas as pd

In [4]:
# pd.options.display.float_format = '${:,.2f}'.format
formatter = {
    'payment': '${:,.2f}',
    'percent_completed': '{:,.1%}'
}

In [7]:
df = pd.DataFrame({
    'name': ['Steve', 'Mike', 'Lauren', 'Michelle', 'Stephanie'],
    'gender': ['Male', 'Male', 'Female', 'Female', 'Female'],
    'age': [23, 42, 28, 31, 39],
    'payment': [13.00, 14.33, 13.43, 15.37, 12.33],
    'points': [1.12, 2.31, 2.35, 2.74, 1.92],
    'percent_completed': [.63, .52, .72, .91, .33]
})
df
df.style.format(formatter)

In [8]:
total_num = df['gender'].count()
total_num

5

In [10]:
gender_counts = df['gender'].value_counts()
print(type(gender_counts))
gender_counts

<class 'pandas.core.series.Series'>

Female    3
Male      2
Name: gender, dtype: int64

### Method 1: combine two series

In [11]:
gender_percents = gender_counts / total_num * 100
gender_percents

Female    60.0
Male      40.0
Name: gender, dtype: float64

In [12]:
gender_stats_df = pd.DataFrame({
    'Total Count': gender_counts,
    'Percent of Total': gender_percents
}).round(2)
gender_stats_df

        Total Count  Percent of Total
Female            3              60.0
Male              2              40.0

### Method 2: to_frame + apply

In [13]:
gender_stats_df = gender_counts.to_frame(name='Total Count')
print(type(gender_stats_df))
gender_stats_df

<class 'pandas.core.frame.DataFrame'>

        Total Count
Female            3
Male              2

In [14]:
gender_stats_df['Percent of Total'] = gender_stats_df.apply(
    lambda row: row['Total Count'] / total_num * 100, axis=1
)
gender_stats_df

        Total Count  Percent of Total
Female            3              60.0
Male              2              40.0